**/.DS_Store
**/__MACOSX
**/node_modules
**/vendor
**/*.sitepack
**/*.sitepack.enc
**/*.log
**/reports
**/.docara-state
**/.docara-state/**
!sitepack-spec/examples/volume-set-real/*.sitepack
source
!docara/source/
!docara/source/**
**/source/docs/.translate.php
